<ng-template #trainerModal let-ref>
  <nb-card [size]="'large'">
    <nb-card-header style="text-align: center"> Trainers</nb-card-header>
    <nb-card-body>
      <div style="display: flex; flex-direction: column;">
        <ng-container *ngFor="let trainer of trainers">
          <button nbButton status="warning" aria-label="Close" style="justify-content: center; margin: 5px 0"
                  (click)="addToTrainer(trainer._id, clientId); ref.close()">{{trainer.username}}</button>
        </ng-container>
      </div>
    </nb-card-body>
  </nb-card>
</ng-template>

<ng-template #clientModal let-ref>
  <nb-card [size]="'large'">
    <nb-card-header style="text-align: center"> Trainers</nb-card-header>
    <nb-card-body>
      <div style="display: flex; flex-direction: column;">
        <ng-container *ngFor="let client of populatedClients">
          <button nbButton status="warning" aria-label="Close" style="justify-content: center; margin: 5px 0"
                  (click)="removeClientFromTrainer(trainerId, client._id); ref.close()">{{client.username}}</button>
        </ng-container>
      </div>
    </nb-card-body>
  </nb-card>
</ng-template>

<nb-card *ngIf="authService.getUserRole()==='admin'">
  <nb-card-header>
    <h2>Modify user</h2>
  </nb-card-header>
  <nb-card-body>
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

      <ng-container matColumnDef="username">
        <mat-header-cell *matHeaderCellDef>username</mat-header-cell>
        <!--        <mat-cell *matCellDef="let user" [innerHTML]="isTrainer(user.role, user.username)"></mat-cell>-->
        <mat-cell *matCellDef="let user">{{user.username}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="role">
        <mat-header-cell *matHeaderCellDef>role</mat-header-cell>
        <mat-cell *matCellDef="let user">{{user.role}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="edit">
        <mat-header-cell *matHeaderCellDef>edit</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button *ngIf="element.role !== 'admin'" nbButton status="danger"
                  (click)="removeUser(element.role,element._id)">Remove
          </button>
          <button *ngIf="element.role !== 'admin' && element.role !== 'trainer'" nbButton status="warning"
                  style="margin-left: 15px" (click)="open(trainerModal, element._id);">Add to trainer
          </button>
          <button *ngIf="element.role !== 'admin' && element.role !== 'client'" nbButton status="danger"
                  style="margin-left: 15px" (click)="openRemove(clientModal, element.username);">Remove client
          </button>
        </mat-cell>
      </ng-container>
    </mat-table>
  </nb-card-body>
</nb-card>

<nb-card *ngIf="authService.getUserRole()==='trainer'">
  <nb-card-header>
    <h2>Modify clients</h2>
  </nb-card-header>
  <nb-card-body>
    <mat-table [dataSource]="dataTrainerSource" class="mat-elevation-z8">
      <mat-header-row *matHeaderRowDef="displayedTrainerColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedTrainerColumns"></mat-row>

      <ng-container matColumnDef="username">
        <mat-header-cell *matHeaderCellDef>username</mat-header-cell>
        <!--        <mat-cell *matCellDef="let user" [innerHTML]="isTrainer(user.role, user.username)"></mat-cell>-->
        <mat-cell *matCellDef="let user"><a [innerHTML]="user.username" [routerLink]="['/client', user._id]"></a></mat-cell>
      </ng-container>

      <ng-container matColumnDef="edit">
        <mat-header-cell *matHeaderCellDef>edit</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button *ngIf="element.role === 'client'" nbButton status="danger"
                  style="margin-left: 15px" (click)="removeClientFromTrainer(username,element._id);">Remove client
          </button>
        </mat-cell>
      </ng-container>
    </mat-table>
  </nb-card-body>
</nb-card>

