<nb-card *ngIf="this.auth.getUserRole() === 'trainer'">
  <nb-card-header> Upload file</nb-card-header>
  <nb-card-body>
    <input type="file"
           multiple
           id="file"
           (change)="handleFileInput($event.target)">
  </nb-card-body>
  <nb-card-footer>
    <button (click)="uploadFile()" nbButton status="success">
      Upload
    </button>
  </nb-card-footer>
</nb-card>
<div>
  <div *ngFor="let file of info">
    <div class="align__content"><img *ngIf="file.filename.endsWith('jpg') || file.filename.endsWith('jpeg') || file.filename.endsWith('png')" [src]="file.link" class="show__content"><span
      *ngIf="file.filename.endsWith('jpg') || file.filename.endsWith('jpeg') || file.filename.endsWith('png')" style="margin-left: 15%">Download link: </span><a
      *ngIf="file.filename.endsWith('jpg') || file.filename.endsWith('jpeg') || file.filename.endsWith('png')" [href]="file.link">{{file.filename}}</a>
      <button nbButton status="danger" (click)="deleteFile(file._id)"
              *ngIf="this.auth.getUserRole() === 'trainer' && file.filename.endsWith('jpg' || 'jpeg' || 'png')"
              class="align__button">Delete
      </button>
    </div>
    <div class="video" class="align__content">
      <video controls (click)="toggleVideo($event)" #videoPlayer *ngIf="file.filename.endsWith('mp4')"
             class="show__content">
        <source [src]="file.link" type="video/mp4"/>
        Browser not supported
      </video>
      <span *ngIf="file.filename.endsWith('mp4')" style="margin-left: 15%">Download link: </span>
      <a *ngIf="file.filename.endsWith('mp4')" [href]="file.link">{{file.filename}}</a>
      <button nbButton status="danger" (click)="deleteFile(file._id)" *ngIf="this.auth.getUserRole() === 'trainer' && file.filename.endsWith('mp4')"
              class="align__button">Delete
      </button>
    </div>
    <div class="pdf align__content" >
      <span *ngIf="file.filename.endsWith('pdf')" >Pdf download link: </span>
      <a *ngIf="file.filename.endsWith('pdf')" [href]="file.link">{{file.filename}}</a>
      <button nbButton status="danger" (click)="deleteFile(file._id)"
              *ngIf="this.auth.getUserRole() === 'trainer' && file.filename.endsWith('pdf')" class="align__button">
        Delete
      </button>
    </div>
  </div>
</div>
