<ng-template #goalModal let-ref>
  <nb-card [size]="'large'">
    <nb-card-header style="text-align: center">Set goals</nb-card-header>
    <nb-card-body>
      <div style="display: flex; flex-direction: column;">
        <ng-container>
          <button nbButton status="warning" aria-label="Close" style="justify-content: center; margin: 5px 0"
                  (click)="selectGoal('bulking'); ref.close()">Bulking
          </button>
          <button nbButton status="warning" aria-label="Close" style="justify-content: center; margin: 5px 0"
                  (click)="selectGoal('stagnating'); ref.close()">Stagnating
          </button>
          <button nbButton status="warning" aria-label="Close" style="justify-content: center; margin: 5px 0"
                  (click)="selectGoal('diet'); ref.close()">Diet
          </button>
        </ng-container>
      </div>
    </nb-card-body>
  </nb-card>
</ng-template>

<ng-template #groupModal let-ref>
  <nb-card [size]="'large'">
    <nb-card-header style="text-align: center">Set group membership</nb-card-header>
    <nb-card-body>
      <div style="display: flex; flex-direction: column;">
        <ng-container>
          <button nbButton status="success" aria-label="Close" style="justify-content: center; margin: 5px 0"
                  (click)="selectGroup('true'); ref.close()" *ngIf="!groupMember">Group member
          </button>
          <button nbButton status="danger" aria-label="Close" style="justify-content: center; margin: 5px 0"
                  (click)="selectGroup('false'); ref.close()" *ngIf="groupMember">Not a group member
          </button>
        </ng-container>
      </div>
    </nb-card-body>
  </nb-card>
</ng-template>

<ng-template #expirationModal let-ref>
  <nb-card [size]="'large'">
    <nb-card-header style="text-align: center">Set expiration day</nb-card-header>
    <nb-card-body>
      <div style="display: flex; flex-direction: column;">
        <ng-container>
          <h3>Choose subscription for</h3>
          <button nbButton status="danger" aria-label="Close" style="justify-content: center; margin: 5px"
                  (click)="updateSubscriptionByDays(30); ref.close()">30 days
          </button>
          <button nbButton status="danger" aria-label="Close" style="justify-content: center; margin: 5px"
                  (click)="updateSubscriptionByDays(90); ref.close()">90 days
          </button>
          <button nbButton status="danger" aria-label="Close" style="justify-content: center; margin: 5px"
                  (click)="updateSubscriptionByDays(180); ref.close()">180 days
          </button>
          <button nbButton status="danger" aria-label="Close" style="justify-content: center; margin: 5px"
                  (click)="updateSubscriptionByDays(360); ref.close()">360 days
          </button>
        </ng-container>
      </div>
    </nb-card-body>
  </nb-card>
</ng-template>

<ng-template #nutrientsModal let-ref>
  <nb-card [size]="'large'">
    <nb-card-header style="text-align: center">Set nutrients</nb-card-header>
    <nb-card-body>
      <form (ngSubmit)="saveNutrientsOnSubmit(updateNutrientsForm.value)" [formGroup]="updateNutrientsForm">
        <div class="form--container">
          <div class="form--container__values">
            <span>Carbs in gram: </span><input
            (keydown.enter)="saveNutrientsOnSubmit(updateNutrientsForm.value); ref.close()"
            formControlName="carbInGram"
            placeholder="carbs" nbInput required type="number">
          </div>
          <div class="form--container__values">
            <span>Fat in gram: </span><input
            (keydown.enter)="saveNutrientsOnSubmit(updateNutrientsForm.value); ref.close()"
            formControlName="fatInGram"
            placeholder="fat" nbInput required type="number">
          </div>
          <div class="form--container__values">
            <span>Protein in gram: </span><input
            (keydown.enter)="saveNutrientsOnSubmit(updateNutrientsForm.value); ref.close()"
            formControlName="proteinInGram"
            placeholder="protein" nbInput required type="number">
          </div>
          <div class="form--container__values">
            <span>Food in kcal: </span><input
            (keydown.enter)="saveNutrientsOnSubmit(updateNutrientsForm.value); ref.close()"
            formControlName="foodInKcal"
            placeholder="kcal" nbInput required type="number">
          </div>
        </div>
      </form>
    </nb-card-body>
    <nb-card-footer>
      <button (click)="saveNutrientsOnSubmit(updateNutrientsForm.value); ref.close()" nbButton status="success"
              style="justify-content: center">Save
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>


<ng-template #passwordModal let-ref>
  <nb-card [size]="'large'">
    <nb-card-header style="text-align: center">Update password</nb-card-header>
    <nb-card-body>
      <form (ngSubmit)="savePasswordOnSubmit(updatePasswordForm.value)" [formGroup]="updatePasswordForm">
        <div class="form--container">
          <div class="form--container__values">
            <span>New password: </span><input
            (keydown.enter)="savePasswordOnSubmit(updatePasswordForm.value); ref.close()"
            formControlName="password"
            placeholder="password" nbInput required type="password">
          </div>
        </div>
      </form>
    </nb-card-body>
    <nb-card-footer>
      <button (click)="savePasswordOnSubmit(updatePasswordForm.value); ref.close()" nbButton status="success"
              style="justify-content: center">Save
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #intakeModal let-ref>
  <nb-card [size]="'large'">
    <nb-card-header style="text-align: center">Set intake</nb-card-header>
    <nb-card-body>
      <form (ngSubmit)="saveIntakeOnSubmit(updateIntakeOfNutrientsForm.value)"
            [formGroup]="updateIntakeOfNutrientsForm">
        <div class="form--container">
          <div class="form--container__values">
            <span>Carbs in gram: </span><input
            (keydown.enter)="saveIntakeOnSubmit(updateIntakeOfNutrientsForm.value); ref.close()"
            formControlName="carbInGram"
            placeholder="carbs" nbInput required type="number">
          </div>
          <div class="form--container__values">
            <span>Fat in gram: </span><input
            (keydown.enter)="saveIntakeOnSubmit(updateIntakeOfNutrientsForm.value); ref.close()"
            formControlName="fatInGram"
            placeholder="fat" nbInput required type="number">
          </div>
          <div class="form--container__values">
            <span>Protein in gram: </span><input
            (keydown.enter)="saveIntakeOnSubmit(updateIntakeOfNutrientsForm.value); ref.close()"
            formControlName="proteinInGram"
            placeholder="protein" nbInput required type="number">
          </div>
          <div class="form--container__values">
            <span>Food in kcal: </span><input
            (keydown.enter)="saveIntakeOnSubmit(updateIntakeOfNutrientsForm.value); ref.close()"
            formControlName="foodInKcal"
            placeholder="kcal" nbInput required type="number">
          </div>
        </div>
      </form>
    </nb-card-body>
    <nb-card-footer>
      <button (click)="saveIntakeOnSubmit(updateNutrientsForm.value); ref.close()" nbButton status="success"
              style="justify-content: center">Save
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>


<ng-template #weightModal let-ref>
  <nb-card [size]="'large'">
    <nb-card-header style="text-align: center">Weight</nb-card-header>
    <nb-card-body>
      <form (ngSubmit)="saveWeightOnSubmit(updateWeightForm.value)" [formGroup]="updateWeightForm">
        <div class="form--container">
          <div class="form--container__values">
            <span>Current weight: </span><input
            (keydown.enter)="saveWeightOnSubmit(updateWeightForm.value); ref.close()"
            formControlName="weight"
            placeholder="weight" nbInput required type="number">
          </div>
        </div>
      </form>
    </nb-card-body>
    <nb-card-footer>
      <button (click)="saveWeightOnSubmit(updateWeightForm.value); ref.close()" nbButton status="success"
              style="justify-content: center">Save
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<nb-card *ngIf="role === 'trainer'">
  <nb-card-header>Username: {{client.username}}</nb-card-header>
  <nb-card-body>
    <table class="client__table">
      <tr>
        <th class="table__element">Name</th>
        <th class="table__element">Value</th>
        <th class="table__element">Edit</th>
      </tr>
      <tr>
        <th class="table__element">Goal</th>
        <td class="table__element">{{client?.config?.goal}}</td>
        <td class="table__element">
          <button nbButton status="warning" (click)="open(goalModal)">Edit goal</button>
        </td>
      </tr>
      <tr>
        <th class="table__element">Weight</th>
        <td class="table__element">{{weight}}</td>
      </tr>
      <tr>
        <th class="table__element">Group</th>
        <td class="table__element">{{client?.config?.group}}</td>
        <td class="table__element">
          <button nbButton status="warning" (click)="open(groupModal)">Set group membership</button>
        </td>
      </tr>
      <tr>
        <th class="table__element">Expiration day</th>
        <td class="table__element"><span>{{client?.config?.expirationDay | date:'shortDate'}}</span> <span
          style="margin-left: 10px"
          [ngStyle]="{'color':calculateDaysLeft() < 5 ? 'red' : 'white'}">Days left: {{calculateDaysLeft()}}</span></td>
        <td class="table__element">
          <button nbButton status="warning" (click)="open(expirationModal)">Update expiration day</button>
        </td>
      </tr>
      <tr>
        <th class="table__element">Nutrients</th>
        <td class="table__element"></td>
        <td class="table__element">
          <button nbButton status="warning" (click)="open(nutrientsModal)">Update nutrients</button>
        </td>
      </tr>
      <tr>
        <th class="table__element">Carb in gram</th>
        <td class="table__element">{{client?.config?.foodConsume.carbInGram}}</td>
        <td class="table__element"></td>
      </tr>
      <tr>
        <th class="table__element">Fat in gram</th>
        <td class="table__element">{{client?.config?.foodConsume.fatInGram}}</td>
        <td class="table__element"></td>
      </tr>
      <tr>
        <th class="table__element">Protein in gram</th>
        <td class="table__element">{{client?.config?.foodConsume.proteinInGram}}</td>
        <td class="table__element"></td>
      </tr>
      <tr>
        <th class="table__element">Food in kcal</th>
        <td class="table__element">{{client?.config?.foodConsume.foodInKcal}}</td>
        <td class="table__element"></td>
      </tr>
      <tr>
        <th class="table__element">Password</th>
        <td class="table__element"></td>
        <td class="table__element">
          <button nbButton status="warning" (click)="open(passwordModal)">Update password</button>
        </td>
      </tr>
    </table>
  </nb-card-body>
</nb-card>


<nb-card *ngIf="role === 'client' && calculateDaysLeft() > 0">
  <nb-card-header>Username: {{client.username}}</nb-card-header>
  <nb-card-body>
    <table class="client__table">
      <tr>
        <th class="table__element">Name</th>
        <th class="table__element">Value</th>
        <th class="table__element">Edit</th>
      </tr>
      <tr>
        <th class="table__element">Weight</th>
        <td class="table__element">{{weight}}</td>
        <button nbButton status="warning" (click)="open(weightModal)">Add current weight</button>
      </tr>
      <tr>
        <th class="table__element">Expiration day</th>
        <td class="table__element"><span>{{client?.config?.expirationDay | date:'shortDate'}}</span> <span
          style="margin-left: 10px"
          [ngStyle]="{'color':calculateDaysLeft() < 5 ? 'red' : 'white'}">Days left: {{calculateDaysLeft()}}</span></td>
      </tr>
      <tr>
        <th class="table__element">Intake of nutrients</th>
        <td class="table__element"></td>
        <td class="table__element">
          <button nbButton status="warning" (click)="open(intakeModal)">Update intake</button>
        </td>
      </tr>
      <tr>
        <th class="table__element">Carb in gram</th>
        <td class="table__element">{{client?.config?.intakeOfNutrients.carbInGram}}</td>
        <td class="table__element"
            [ngStyle]="{'color':calculateNutrientLeft(client?.config?.foodConsume.carbInGram,client?.config?.intakeOfNutrients.carbInGram ) < 0 ? 'red' : 'white'}"
        >Carb in gram
          left: {{client?.config?.foodConsume.carbInGram - client?.config?.intakeOfNutrients.carbInGram}}</td>
      </tr>
      <tr>
        <th class="table__element">Fat in gram</th>
        <td class="table__element">{{client?.config?.intakeOfNutrients.fatInGram}}</td>
        <td class="table__element"
            [ngStyle]="{'color':calculateNutrientLeft(client?.config?.foodConsume.fatInGram,client?.config?.intakeOfNutrients.fatInGram ) < 0 ? 'red' : 'white'}"
        >Fat in gram left: {{client?.config?.foodConsume.fatInGram - client?.config?.intakeOfNutrients.fatInGram}}</td>
      </tr>
      <tr>
        <th class="table__element">Protein in gram</th>
        <td class="table__element">{{client?.config?.intakeOfNutrients.proteinInGram}}</td>
        <td class="table__element"
            [ngStyle]="{'color':calculateNutrientLeft(client?.config?.foodConsume.proteinInGram,client?.config?.intakeOfNutrients.proteinInGram ) < 0 ? 'red' : 'white'}"
        >Protein in gram
          left: {{client?.config?.foodConsume.proteinInGram - client?.config?.intakeOfNutrients.proteinInGram}}</td>
      </tr>
      <tr>
        <th class="table__element">Food in kcal</th>
        <td class="table__element">{{client?.config?.intakeOfNutrients.foodInKcal}}</td>
        <td class="table__element"
            [ngStyle]="{'color':calculateNutrientLeft(client?.config?.foodConsume.foodInKcal,client?.config?.intakeOfNutrients.foodInKcal ) < 0 ? 'red' : 'white'}"
        >Food in kcal
          left: {{client?.config?.foodConsume.foodInKcal - client?.config?.intakeOfNutrients.foodInKcal}}</td>
      </tr>
      <tr>
        <th class="table__element">This will set all intake to zero</th>
        <td class="table__element"><button nbButton status="danger" (click)="resetIntakeOnSubmit()">Reset food intakes</button></td>
        <td class="table__element"></td>
      </tr>
    </table>
  </nb-card-body>
</nb-card>
<app-weight-chart></app-weight-chart>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<app-training-plan [id]="id"></app-training-plan>
<app-videos [id]="id" *ngIf="role === 'trainer'"></app-videos>
