<div style="background: #033e73; padding: 25px">
    <div class="content-container">
        <mat-icon id="close-icon" class="close-icon" (click)="closeDialog()">close</mat-icon>
        <div class="content-span full-width-text" [innerHTML]="data.message"></div>
    </div>
    <button mat-flat-button id="yes-button" [mat-dialog-close]="true">YES</button>
    <button mat-flat-button id="no-button" [mat-dialog-close]="false">NO</button>
</div>
