<nb-layout>
  <nb-layout-header fixed>


      <nb-actions size="medium" >
        <nb-action *ngIf="!toggled" (click)="toggle()" icon="toggle-left-outline" nbButton></nb-action>
        <nb-action *ngIf="toggled" (click)="toggle()" icon="toggle-right-outline" nbButton></nb-action>
      </nb-actions>
      <h6 *ngIf="auth.isAuth()" style="padding: 0 35%">{{'username: ' + auth.getCurrentUser()}}</h6>
      <button *ngIf="auth.isAuth()" nbButton status="primary" (click)="auth.logout()" [routerLink]="'/login'">Logout
      </button>

  </nb-layout-header>

  <nb-sidebar tag="left">
    <nb-menu *ngIf="auth.isAuth()" [items]="items"></nb-menu>
  </nb-sidebar>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>

  <!--  <nb-layout-footer fixed>-->
  <!--  &lt;!&ndash; Insert footer here &ndash;&gt;-->
  <!--  </nb-layout-footer>-->

</nb-layout>
