<div class="container">
  <nb-card >
    <nb-card-header class="align-center">
      <h2>Login</h2>
      <div *ngIf="error" class="error-msg">
        {{error}}
      </div>
    </nb-card-header>
    <nb-card-body class="align-center">
      <form (ngSubmit)="onSubmit(loginForm.value)" [formGroup]="loginForm">
        <input (keydown.enter)="onSubmit(loginForm.value)" formControlName="username" placeholder="username" nbInput fullWidth required type="text" class="mb-md">
        <input (keydown.enter)="onSubmit(loginForm.value)" formControlName="password" placeholder="password" nbInput fullWidth required type="password" class="mb-md">
      </form>
    </nb-card-body>
    <nb-card-footer class="align-center">
      <button (keydown.enter)="onSubmit(loginForm.value)" (click)="onSubmit(loginForm.value)" nbButton status="primary">
        Login
      </button>
    </nb-card-footer>
  </nb-card>
</div>


