<div class="container">
  <nb-card *ngIf="authService.getUserRole()==='admin'">
    <nb-card-header class="trainer">
      <h2>Trainer registration</h2>
      <div *ngIf="errorTrainer" class="error-msg">
        {{errorTrainer}}
      </div>
    </nb-card-header>
    <nb-card-body>
      <form (ngSubmit)="registerTrainerOnsubmit(registerTrainerForm.value)" [formGroup]="registerTrainerForm">
        <input (keydown.enter)="registerTrainerOnsubmit(registerTrainerForm.value)" formControlName="username"
               placeholder="username" nbInput fullWidth required type="text">
        <input (keydown.enter)="registerTrainerOnsubmit(registerTrainerForm.value)" formControlName="password"
               placeholder="password" nbInput fullWidth required type="password">
      </form>
    </nb-card-body>
    <nb-card-footer>
      <button (click)="registerTrainerOnsubmit(registerTrainerForm.value)" nbButton status="primary">
        Trainer registration
      </button>
    </nb-card-footer>
  </nb-card>
  <nb-card *ngIf="authService.getUserRole()==='admin'">
    <nb-card-header class="client">
      <h2>Client registration</h2>
      <div *ngIf="errorClient" class="error-msg">
        {{errorClient}}
      </div>
    </nb-card-header>
    <nb-card-body>
      <form (ngSubmit)="registerClientOnSubmit(registerClientForm.value)" [formGroup]="registerClientForm">
        <input (keydown.enter)="registerClientOnSubmit(registerClientForm.value)" formControlName="username"
               placeholder="username" nbInput fullWidth required type="text">
        <input (keydown.enter)="registerClientOnSubmit(registerClientForm.value)" formControlName="password"
               placeholder="password" nbInput fullWidth required type="password">
        <div formGroupName="config">
          <div style="display: flex; justify-content: space-between">
            <div>
              <span>Group: </span>
              <nb-select placeholder="false" formControlName="group" required>
                <nb-option value="false">false</nb-option>
                <nb-option value="true">true</nb-option>
              </nb-select>
            </div>
            <div>
              <span>Day is it: </span>
              <nb-select placeholder="push" formControlName="dayIsIt" required>
                <nb-option value="push">push</nb-option>
                <nb-option value="pull">pull</nb-option>
                <nb-option value="leg">leg</nb-option>
                <nb-option value="rest">rest</nb-option>
              </nb-select>
            </div>
            <div>
              <span>Goal: </span>
              <nb-select placeholder="goal" formControlName="goal" required>
                <nb-option value="bulking">bulking</nb-option>
                <nb-option value="stagnating">stagnating</nb-option>
                <nb-option value="leg">leg</nb-option>
                <nb-option value="diet">diet</nb-option>
              </nb-select>
            </div>
          </div>
          <div formGroupName="weight">
            <input (keydown.enter)="registerClientOnSubmit(configForm.value)" formControlName="weight"
                   placeholder="weight" nbInput fullWidth required type="number">
          </div>
          <input (keydown.enter)="registerClientOnSubmit(configForm.value)" formControlName="age"
                 placeholder="age" nbInput fullWidth required type="number">
          <input (keydown.enter)="registerClientOnSubmit(configForm.value)" formControlName="disease"
                 placeholder="disease" nbInput fullWidth type="text">
          <div formGroupName="foodConsume">
            <input (keydown.enter)="registerClientOnSubmit(foodConsumeForm.value)" formControlName="foodInKcal"
                   placeholder="foodInKcal" nbInput fullWidth required type="number">
            <input (keydown.enter)="registerClientOnSubmit(foodConsumeForm.value)" formControlName="carbInGram"
                   placeholder="carbInGram" nbInput fullWidth required type="number">
            <input (keydown.enter)="registerClientOnSubmit(foodConsumeForm.value)" formControlName="proteinInGram"
                   placeholder="proteinInGram" nbInput fullWidth required type="number">
            <input (keydown.enter)="registerClientOnSubmit(foodConsumeForm.value)" formControlName="fatInGram"
                   placeholder="fatInGram" nbInput fullWidth required type="number">
          </div>

        </div>
      </form>
    </nb-card-body>
    <nb-card-footer>
      <button (click)="registerClientOnSubmit(registerTrainerForm.value)" nbButton status="primary">
        Client registration
      </button>
    </nb-card-footer>
  </nb-card>
  <nb-card *ngIf="authService.getUserRole()==='trainer'">
    <nb-card-header class="client">
      <h2>Client registration</h2>
      <div *ngIf="errorClient" class="error-msg">
        {{errorClient}}
      </div>
    </nb-card-header>
    <nb-card-body>
      <form (ngSubmit)="registerClientOnSubmit(registerClientForm.value)" [formGroup]="registerClientForm">
        <input (keydown.enter)="registerClientOnSubmit(registerClientForm.value)" formControlName="username"
               placeholder="username" nbInput fullWidth required type="text">
        <input (keydown.enter)="registerClientOnSubmit(registerClientForm.value)" formControlName="password"
               placeholder="password" nbInput fullWidth required type="password">
        <div formGroupName="config">
          <div style="display: flex; justify-content: space-between">
            <div>
              <span>Group: </span>
              <nb-select placeholder="false" formControlName="group" required>
                <nb-option value="false">false</nb-option>
                <nb-option value="true">true</nb-option>
              </nb-select>
            </div>
            <div>
              <span>Day is it: </span>
              <nb-select placeholder="push" formControlName="dayIsIt" required>
                <nb-option value="push">push</nb-option>
                <nb-option value="pull">pull</nb-option>
                <nb-option value="leg">leg</nb-option>
                <nb-option value="rest">rest</nb-option>
              </nb-select>
            </div>
            <div>
              <span>Goal: </span>
              <nb-select placeholder="goal" formControlName="goal" required>
                <nb-option value="bulking">bulking</nb-option>
                <nb-option value="stagnating">stagnating</nb-option>
                <nb-option value="leg">leg</nb-option>
                <nb-option value="diet">diet</nb-option>
              </nb-select>
            </div>
          </div>
          <div formGroupName="weight">
            <input (keydown.enter)="registerClientOnSubmit(configForm.value)" formControlName="weight"
                   placeholder="weight" nbInput fullWidth required type="number">
          </div>
          <input (keydown.enter)="registerClientOnSubmit(configForm.value)" formControlName="age"
                 placeholder="age" nbInput fullWidth required type="number">
          <input (keydown.enter)="registerClientOnSubmit(configForm.value)" formControlName="disease"
                 placeholder="disease" nbInput fullWidth type="text">
          <div formGroupName="foodConsume">
            <input (keydown.enter)="registerClientOnSubmit(foodConsumeForm.value)" formControlName="foodInKcal"
                   placeholder="foodInKcal" nbInput fullWidth required type="number">
            <input (keydown.enter)="registerClientOnSubmit(foodConsumeForm.value)" formControlName="carbInGram"
                   placeholder="carbInGram" nbInput fullWidth required type="number">
            <input (keydown.enter)="registerClientOnSubmit(foodConsumeForm.value)" formControlName="proteinInGram"
                   placeholder="proteinInGram" nbInput fullWidth required type="number">
            <input (keydown.enter)="registerClientOnSubmit(foodConsumeForm.value)" formControlName="fatInGram"
                   placeholder="fatInGram" nbInput fullWidth required type="number">
          </div>

        </div>
      </form>
    </nb-card-body>
    <nb-card-footer>
      <button (click)="registerClientOnSubmit(registerTrainerForm.value)" nbButton status="primary">
        Client registration
      </button>
    </nb-card-footer>
  </nb-card>
  <app-modify [dataSource]="dataSource"></app-modify>
</div>
