@import "variables";

.client__table{
  width: 100%;
}

.table__element{
  padding: 5px 0;
}

.form--container{
  display: flex;
  flex-direction: column;
}

.form--container__values{
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.client__videos{
  display: block;
}
