@import "variables";
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.align-center{
  text-align: center;

  &-input {
    text-align: center;
  }
}

.error-msg{
  color: $red;
}
