@import "variables";
#no-button{
    width: 50%;
    background-color: $light-blue;
    padding: 5px;
}

#yes-button{
    width: 50%;
    padding: 5px;
    background-color: $light-pink;
}

.full-width-text{
    width: 100%;
    text-align: center;
    margin-bottom: 8px;
}

.close-icon{
    position: relative;
    left: 95%;
    cursor: pointer;
}

