<nb-card>
  <nb-card-header>
    <article class="table-header">
      <div>
        <button
          nbButton status="danger"
          (click)="removeAll(this.id)"
          *ngIf="auth.getUserRole() === 'trainer'"
        >
          Remove Rows
        </button>
        <button nbButton status="success" (click)="addRow()" *ngIf="auth.getUserRole() === 'trainer'" style="margin-left: 20px">
          Add Row
        </button>
      </div>
    </article>
  </nb-card-header>
  <nb-card-body>
    <table mat-table [dataSource]="dataSource">
      <ng-container [matColumnDef]="col.key" *ngFor="let col of columnsSchema">
        <th mat-header-cell *matHeaderCellDef>
          {{ col.label }}
        </th>
        <td mat-cell *matCellDef="let element">
          <div [ngSwitch]="col.type" *ngIf="!element.isEdit">
            <ng-container *ngSwitchCase="'isSelected'">
              <mat-checkbox
                (change)="element.isSelected = $event.checked"
              ></mat-checkbox>
            </ng-container>
            <div class="btn-edit" *ngSwitchCase="'isEdit'">
              <button nbButton status="warning" (click)="element.isEdit = !element.isEdit">
                Edit
              </button>
            </div>
            <span *ngSwitchDefault>
          {{ element[col.key] }}
        </span>
          </div>
          <div [ngSwitch]="col.type" *ngIf="element.isEdit">
            <div *ngSwitchCase="'isSelected'"></div>
            <div class="btn-edit" *ngSwitchCase="'isEdit'">
              <button
                nbButton status="success"
                (click)="editRow(element)"
                [disabled]="disableSubmit(element.id)"
              >
                Done
              </button>
            </div>
            <mat-form-field class="form-input" *ngSwitchDefault>
              <input
                matInput
                [required]="col.required"
                [pattern]="col.pattern"
                [type]="col.type"
                [(ngModel)]="element[col.key]"
                (change)="inputHandler($event, element.id, col.key)"
              />
            </mat-form-field>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </nb-card-body>
</nb-card>
